template(name='home')

  h1 home

template(name='posts')

  h1 posts

  ul
    +each posts
      li
        a= title

template(name='authors')

  h1 posts

  ul
    +each authors
      li
        a= username

template(name='books')

  h1 posts

  ul
    +each books
      li
        a= author
